<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail Garment</title>
    <link rel="shortcut icon"
        href="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6a/JavaScript-logo.png/768px-JavaScript-logo.png"
        type="image/x-icon">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f2f2f2;
            margin: 0;
            padding: 20px;
        }

        h1 {
            color: #333;
            margin-bottom: 10px;
        }

        ul {
            list-style-type: none;
            padding: 0;
        }

        li {
            margin-bottom: 5px;
        }

        li:before {
            content: "•";
            color: #333;
            display: inline-block;
            width: 1em;
            margin-left: -1em;
        }
    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css" />
</head>

<body>
    <div data-aos="fade-up" data-aos-duration="1000" class="container">
        <h1>
            <%= garment.name %>
        </h1>
        <ul>
            <li>Location: <%= garment.location %>
            </li>
            <li>Contact: <%= garment.contact %>
            </li>
        </ul>

        <h3>Product</h3>
        <ul>
            <% for(let product of garment.products) { %>
                <li>
                    <a href="/products/<%= product._id %>">
                        <%= product.name %> - <%= product.brand %>
                    </a>
                </li>
            <% }; %>
        </ul>

        <div>
            <a href="/garments" class="btn btn-dark">Back</a>

            <a href="/garments/<%= garment._id %>" class="btn btn-dark">
                <%= garment.name %>
            </a>

            <a href="/garments/<%= garment._id %>/edit" class="btn btn-primary">Edit</a>

            <a href="/garments/<%= garment._id %>?_method=DELETE" class="btn btn-danger">Delete</a> <br><br>

            <a href="/garments/<%= garment._id %>/products/create" class="btn btn-secondary">Add Product</a>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
    <script>
        AOS.init();
    </script>
</body>

</html>